{% extends 'test.html' %}
{% load static %}

{% block body %}

<a href="{% url 'upload' %}" style="display: flex; justify-content: flex-end;">
  <button class="btn btn-primary me-5"           style=" color: #fff; font-weight: bold; width: 20%; background-color: #0C105A;;" 
  onmouseover="this.style.backgroundColor='#ffc107'; this.style.color='black';" 
  onmouseout="this.style.backgroundColor='#0C105A'; this.style.color='#fff';">+Upload Resources</button>
</a>

<ul class="list-unstyled mt-5 ms-5 me-5" style="display: flex; flex-wrap: wrap; gap: 30px;">
  {% for resource in resources %}
      <li class="mb-3" style="flex: 1 0 30%; max-width: 30%; margin-bottom: 30px;">
          <!-- Resource Box -->
          <div class="border p-3 rounded shadow-sm" style="background-color: #f9f9f9; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); transition: transform 0.3s ease;">
              <!-- Resource Title -->
              <strong class="d-block mb-3" style="font-size: 0.8rem; color: #333;">{{ resource.title }}</strong>
              
              <!-- Download Link -->
              {% if resource.document.url %}
                  <a href="{{ resource.document.url }}" class="btn btn-primary btn-sm" >
                      Download Document
                  </a>
              {% endif %}

              <a href="{% url 'edit' resource.id %}" class="btn btn-primary btn-sm" >
                Edit
            </a>
          </div>
      </li>
  {% endfor %}
</ul>


{% endblock %}
