{% extends 'test.html' %}
{% load static %}


{% block body %}

<section class="intro">
    <h1 style="color: #fff;">How It Works</h1>
    <p style="color: #fff;">Learn how we make things simple for you, step by step.</p>
</section>

<section class="steps">
    <div class="step">
        <div class="step-number">1</div>
        <div class="step-description">
            <h2>Step One</h2>
            <p> To get started, simply register on our website. This allows you to access all our free resources and explore our bookshop for the books you wish to purchase.
                
                </p>
        </div>
    </div>

    <div class="step">
        <div class="step-number">2</div>
        <div class="step-description">
            <h2>Step Two</h2>
            <p>Once registered, log in to your account to unlock full access to our resources and bookshop. Enjoy browsing and learning at your own pace.

            </p>
        </div>
    </div>

    <div class="step">
        <div class="step-number">3</div>
        <div class="step-description">
            <h2>Step Three</h2>
            <p>After logging in, you can browse our bookshop to purchase books or explore our extensive collection of free educational resources. For those interested in selling books or reporting issues, you can contact us via WhatsApp, call, or send a message through the website’s messaging section for more information and assistance.

            </p>
        </div>
    </div>
</section>
    
{% endblock  %}
    